{% extends "layout.html" %}
{% block content %}
<div class="card">
    <div class="card-title">Available Tests</div>
    <p>Select a test to perform on the current patient:</p>
    
    <ul class="test-list">
        {% for test in tests %}
        <li>
            {{ test }}
            <a href="/run_test/{{ test|replace(' ', '_') }}" class="btn">Run Test</a>
        </li>
        {% endfor %}
    </ul>
    
    <div style="margin-top: 20px;">
        <a href="/patient" class="btn">Back to Patient</a>
    </div>
</div>
{% endblock %}